{% extends "base.html" %}
{% load cms_tags thumbnail %}

{% block title %}{{ article.name }}{% endblock title %}

{% block content %}
  <article>
    <div class="hero" style="background-image: url({% thumbnail article.image 800x800 quality=60 %})"></div>
    <div class="content">
      <h1>{{ article.name }}</h1>
      <div class="tease-article__date-long">
        <div>
          {{ article.date|date:"jS M Y" }}
        </div>
      </div>
      <br/>
      {{ description|safe }}
      {% if article.source_url %}
        <br/>
        <a href="{{ article.source_url }}" rel="nofollow" class="btn btn--primary-dark" target="_blank">
          Read more{% if article.source_name %} @ {{ article.source_name }}{% endif %}
        </a>
      {% endif %}
    </div>
  </article>
{% endblock content %}
