{% extends "base.html" %}
{% load cms_tags thumbnail %}

{% block title %}{{ article.name }}{% endblock title %}
{% block description %}{{ article.description|slice:":500" }}{% endblock description %}
{% block og_title %}{{ article.article_name }}{% endblock og_title %}
{% block og_description %}{{ article.description|slice:":500" }}{% endblock og_description %}
{% block og_image %}{% if article.image %}https://xrbrighton.earth{% thumbnail article.image 1920x1080 quality=60 crop %}{% else %}https://xrbrighton.earth/media/filer_public/8e/e6/8ee612a8-5ff4-4f04-b435-9c4ace4d4255/social.jpg{% endif %}{% endblock og_image %}
{% block og_image_secure %}{% if article.image %}https://xrbrighton.earth{% thumbnail article.image 1920x1080 quality=60 crop %}{% else %}https://xrbrighton.earth/media/filer_public/8e/e6/8ee612a8-5ff4-4f04-b435-9c4ace4d4255/social.jpg{% endif %}{% endblock og_image_secure %}
{% block twitter_title %}{{ article.name }}{% endblock twitter_title %}
{% block twitter_description %}{{ article.description|slice:":500" }}{% endblock twitter_description %}
{% block twitter_image %}{% if article.image %}https://xrbrighton.earth{% thumbnail article.image 1920x1080 quality=60 crop %}{% else %}https://xrbrighton.earth/media/filer_public/8e/e6/8ee612a8-5ff4-4f04-b435-9c4ace4d4255/social.jpg{% endif %}{% endblock twitter_image %}

{% block content %}
  <article>
    <div class="hero hero-large" style="background-image: url({% thumbnail article.image 1920x960 quality=60 crop %})"></div>
    <div class="content">
      <h1>{{ article.article_name }}</h1>
      <div class="tease-article__date-long">
        <div>
          {{ article.date|date:"jS M Y" }}
        </div>
      </div>
      <br/>
      {{ description|safe }}
      {% if article.gallery_images %}
        <div class="gallery-thumbnails full-width">
          {% for image in article.gallery_images %}<a href="{{ image.url }}"><div class="thumbnail" style="background-image: url({% thumbnail image 300x300 quality=60 crop %})"></div></a>{% endfor %}
        </div>
      {% endif %}
      {% if article.sources.all %}
        {% for source in article.sources.all %}
          <br/>
          <a href="{{ source.url }}" rel="nofollow" class="btn btn--primary-dark" target="_blank">
            Read more{% if source.name %} @ {{ source.name }}{% endif %}
          </a>
        {% endfor %}
      {% endif %}
    </div>
  </article>
{% endblock content %}
