{% load cms_tags menu_tags sekizai_tags version %}<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock title %} | Extinction Rebellion Brighton</title>
    <link href="/static/css/main.css?{% version_date %}" rel="stylesheet" />
    <link rel="icon" href="/static/images/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/static/images/cropped-favicon-192x192.png" sizes="192x192" />
    <meta name="description" content="{% block description %}We are Brighton Extinction Rebellion. Please come and join us at one of our events.{% endblock description %}"/>
    <link rel="canonical" href="https://xrbrighton.earth{{ request.get_full_path }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% block og_title %}{% endblock og_title %} | Extinction Rebellion Brighton" />
    <meta property="og:description" content="{% block og_description %}We are Brighton Extinction Rebellion. Please come and join us at one of our events.{% endblock og_description %}" />
    <meta property="og:url" content="https://xrbrighton.earth{{ request.get_full_path }}" />
    <meta property="og:site_name" content="Extinction Rebellion Brighton" />
    <meta property="og:image" content="{% block og_image %}https://xrbrighton.earth/media/filer_public/8e/e6/8ee612a8-5ff4-4f04-b435-9c4ace4d4255/social.jpg{% endblock og_image %}" />
    <meta property="og:image:secure_url" content="{% block og_image_secure %}https://xrbrighton.earth/media/filer_public/8e/e6/8ee612a8-5ff4-4f04-b435-9c4ace4d4255/social.jpg{% endblock og_image_secure %}" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{% block twitter_title %}{% endblock twitter_title %} | Extinction Rebellion Brighton" />
    <meta name="twitter:description" content="{% block twitter_description %}We are Brighton Extinction Rebellion. Please come and join us at one of our events.{% endblock twitter_description %}" />
    <meta name="twitter:site" content="@xrbrighton" />
    <meta name="twitter:image" content="{% block twitter_image %}https://xrbrighton.earth/media/filer_public/8e/e6/8ee612a8-5ff4-4f04-b435-9c4ace4d4255/social.jpg{% endblock twitter_image %}" />
    <meta name="twitter:creator" content="@xrbrighton" />

    {% render_block "css" %}
  </head>

  <body class="">
    {% cms_toolbar %}
    <div class="nav-mobile js-nav-mobile">
      <button class="nav-mobile__close close-button" id="close-hamburger" aria-label="close menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#FFFFFF" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </button>
      <nav data-nav="" data-nav-btn-class="nav-mobile__expand">
        <ul class="nav">
          {% show_menu 0 100 100 100 %}
        </ul>
      </nav>
      <div class="social-nav social-nav--mobile">
        {% include "snippets/social_nav.html" %}
      </div>
    </div>
    <div class="page-mask" id="js-page-mask"></div>

    <header class="page-header js-page-header ">
      <div class="page-header__wrap">
        <a class="logo" href="/" rel="home">
          <img src="/static/images/logo-black-linear.svg" alt="Extinction Rebellion"><span class="location">Brighton</span>
        </a>
        <div class="page-header__content">
          <ul class="nav-main">
            {% show_menu 0 100 100 100 %}
          </ul>
          <div class="social-nav social-nav">
            {% include "snippets/social_nav.html" %}
          </div>
          <button class="burger" id="hamburger" aria-label="Open Menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path fill="#FFFFFF" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
          </button>
        </div>
      </div>
    </header>

    <main>
      {% block content %}{% endblock content %}
    </main>

    {% include "snippets/mailinglist.html" %}

    <footer>
      <div class="page-footer__column">
        <div class="social-nav social-nav--light">
          {% include "snippets/social_nav.html" %}
        </div>
        <ul class="links">
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/terms-of-service/">Terms of Service</a></li>
        </ul>
      </div>
    </footer>

    {% render_block "js" %}


    <script type="text/javascript">
      document.getElementById('hamburger').onclick = function() {
        document.body.classList.add('has-open-mobile-nav')
      }
      document.getElementById('close-hamburger').onclick = function() {
        document.body.classList.remove('has-open-mobile-nav')
      }
      document.getElementById('js-page-mask').onclick = function() {
        document.body.classList.remove('has-open-mobile-nav')
      }
    </script>


    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.epixstudios.co.uk/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '15']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </body>
</html>