{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
  <head>
    <title>Extinction Rebellion Brighton | {% block title %}{% endblock title %}</title>
    <link href="/static/css/main.css" rel="stylesheet" />
    <link rel="icon" href="/static/images/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/static/images/cropped-favicon-192x192.png" sizes="192x192" />
    {% render_block "css" %}
  </head>

  <body>
    {% cms_toolbar %}
    <header class="page-header js-page-header ">
      <div class="page-header__wrap">
        <a class="logo" href="/" rel="home">
          <img src="/static/images/logo-black-linear.svg" alt="Extinction Rebellion"><h1>Brighton</h1>
        </a>
        <div class="page-header__content">
          <!----ul class="nav">
            {% show_menu 0 100 100 100 %}
          </ul-->
          <div class="social-nav social-nav">
            <ul aria-label="Social media links">
              <li><a href=" https://www.facebook.com/ExtinctionRebellion/" class="facebook" aria-label="facebook"></a></li>
              <li><a href="https://twitter.com/ExtinctionR" class="twitter" aria-label="twitter"></a></li>
              <li><a href="https://www.instagram.com/extinctionrebellion/ " class="insta" aria-label="instagram"></a></li>
              <li><a href="https://www.youtube.com/channel/UCYThdLKE6TDwBJh-qDC6ICA " class="yt" aria-label="youtube"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div class="hero"></div>

    <main>
      {% block content %}{% endblock content %}
    </main>

    <footer>
      <div class="page-footer__column">
        <div class="social-nav social-nav--light">
          <ul aria-label="Social media links">
            <li><a href=" https://www.facebook.com/ExtinctionRebellion/" class="facebook" aria-label="facebook"></a></li>
            <li><a href="https://twitter.com/ExtinctionR" class="twitter" aria-label="twitter"></a></li>
            <li><a href="https://www.instagram.com/extinctionrebellion/ " class="insta" aria-label="instagram"></a></li>
            <li><a href="https://www.youtube.com/channel/UCYThdLKE6TDwBJh-qDC6ICA " class="yt" aria-label="youtube"></a></li>
          </ul>
        </div>
      </div>
    </footer>

    {% render_block "js" %}
  </body>
</html>