{% load cms_tags menu_tags sekizai_tags version %}
<!doctype html>
<html>
  <head>
    <title>Extinction Rebellion Brighton | {% block title %}{% endblock title %}</title>
    <link href="/static/css/main.css?{% version_date %}" rel="stylesheet" />
    <link rel="icon" href="/static/images/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/static/images/cropped-favicon-192x192.png" sizes="192x192" />
    {% render_block "css" %}
  </head>

  <body>
    {% cms_toolbar %}
    <header class="page-header js-page-header ">
      <div class="page-header__wrap">
        <a class="logo" href="/" rel="home">
          <img src="/static/images/logo-black-linear.svg" alt="Extinction Rebellion"><h1>Brighton</h1>
        </a>
        <div class="page-header__content">
          <ul class="nav">
            {% show_menu 0 100 100 100 %}
          </ul>
          <div class="social-nav social-nav">
            {% include "snippets/social_nav.html" %}
          </div>
        </div>
      </div>
    </header>

    <div class="hero"></div>

    <main>
      {% block content %}{% endblock content %}
    </main>

    <footer>
      <div class="page-footer__column">
        <div class="social-nav social-nav--light">
          {% include "snippets/social_nav.html" %}
        </div>
      </div>
    </footer>

    {% render_block "js" %}
  </body>
</html>