{% extends "base.html" %}
{% load cms_tags thumbnail %}

{% block title %}{{ event.name }}{% endblock title %}

{% block content %}
  <article>
    {% if event.image %}<div class="hero hero-large" style="background-image: url({% thumbnail event.image 1920x960 quality=60 crop %})"></div>{% endif %}
    <div class="content">
      <h1>{{ event.name }}</h1>
      <div class="tease-event__date-long">
        <div>
          {% if event.finish and event.finish.date != event.start.date %}<strong>From:</strong><br>{% endif %}
          {{ event.start|date:"jS M Y" }}
          <span class="start">{{ event.start|date:"H:i" }}{% if event.finish and event.finish.date == event.start.date %} - {{ event.finish|date:"H:i" }}{% endif %}</span>
        </div>
        {% if event.finish and event.finish.date != event.start.date %}
        <div class="divider">–</div>
        <div>
          <strong>Until:</strong><br>
          {{ event.finish|date:"jS M Y" }}
          <span class="start">{{ event.finish|date:"H:i" }}</span>
        </div>
        {% endif %}
      </div>
      <br/>
      <h3>{{ event.location }}</h3>
      {{ description|safe }}
    </div>
  </article>
{% endblock content %}
