{% extends "base.html" %}
{% load cms_tags thumbnail %}

{% block title %}{{ event.name }}{% endblock title %}
{% block description %}{{ event.description|slice:":500" }}{% endblock description %}
{% block og_title %}{{ event.name }}{% endblock og_title %}
{% block og_description %}{{ event.description|slice:":500" }}{% endblock og_description %}
{% block og_image %}{% if event.image %}https://xrbrighton.earth{% thumbnail event.image 1920x1080 quality=60 crop %}{% else %}https://xrbrighton.earth/media/filer_public/8e/e6/8ee612a8-5ff4-4f04-b435-9c4ace4d4255/social.jpg{% endif %}{% endblock og_image %}
{% block og_image_secure %}{% if event.image %}https://xrbrighton.earth{% thumbnail event.image 1920x1080 quality=60 crop %}{% else %}https://xrbrighton.earth/media/filer_public/8e/e6/8ee612a8-5ff4-4f04-b435-9c4ace4d4255/social.jpg{% endif %}{% endblock og_image_secure %}
{% block twitter_title %}{{ event.name }}{% endblock twitter_title %}
{% block twitter_description %}{{ event.description|slice:":500" }}{% endblock twitter_description %}
{% block twitter_image %}{% if event.image %}https://xrbrighton.earth{% thumbnail event.image 1920x1080 quality=60 crop %}{% else %}https://xrbrighton.earth/media/filer_public/8e/e6/8ee612a8-5ff4-4f04-b435-9c4ace4d4255/social.jpg{% endif %}{% endblock twitter_image %}

{% block content %}
  <article itemscope itemtype="http://schema.org/Event">
    {% if event.image %}<div class="hero hero-large" style="background-image: url({% thumbnail event.image 1920x960 quality=75 crop %})"></div>{% endif %}
    <div class="content">
      <h1 itemprop="name">{{ event.name }}</h1>
      <div class="tease-event__date-long">
        <div>
          {% if event.finish and event.finish.date != event.start.date %}<strong>From:</strong><br>{% endif %}
          {{ event.start|date:"jS M Y" }}
          <span class="start"><span itemprop="startDate" content="{{ event.start|date:"c" }}">{{ event.start|date:"H:i" }}</span>{% if event.finish and event.finish.date == event.start.date %} - <span itemprop="endDate" content="{{ event.finish|date:"c" }}">{{ event.finish|date:"H:i" }}</span>{% endif %}</span>
        </div>
        {% if event.finish and event.finish.date != event.start.date %}
        <div class="divider">–</div>
        <div>
          <strong>Until:</strong><br>
          <span itemprop="endDate" content="{{ event.finish|date:"c" }}">{{ event.finish|date:"jS M Y" }}
          <span class="start">{{ event.finish|date:"H:i" }}</span></span>
        </div>
        {% endif %}
      </div>
      <br/>
      <h3 itemprop="location" itemscope itemtype="http://schema.org/Place"><span itemprop="address">{{ event.location }}</span></h3>
      <div itemprop="description">
        {{ description|safe }}
      </div>
      {% if event.facebook_link %}<a href="{{ event.facebook_link }}" rel="nofollow" class="btn btn--primary-dark" target="_blank">View Event on Facebook</a>{% endif %}
      {% if event.eventbrite_link %}<a href="{{ event.eventbrite_link }}" rel="nofollow" class="btn btn--primary-dark" target="_blank">View Event on Eventbrite</a>{% endif %}
      {% if event.other_link %}<a href="{{ event.other_link }}" rel="nofollow" class="btn btn--primary-dark" target="_blank">View more details</a>{% endif %}
      {% if event.image %}<span class="event-image-location" itemprop="image">{% thumbnail event.image 1920x960 quality=75 crop %}</span>{% endif %}
    </div>
  </article>
{% endblock content %}
