div.group {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
div.image {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

h1 {
  margin-top: 5px;
}

div.group > iframe {
  transform: translateX(-50%);
  margin: 20px 0 20px 50%;
}
div.group > .social-media > div {
  margin: 5px 0 5px 0;
}

div.group-article {
  position: relative;
}
div.group-article > div.image {
  width: 400px;
  height: 300px;
  margin-left: 0;
  margin-right: 10px;
  display: inline-block;
}
div.group-article > div:not(.image) {
  width: 50%;
  display: inline-block;
}
div.group-article > .group-article-info {
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
}
div.group-article > .group-article-info > h2 {
  margin-bottom: 5px;
}
div.event-list {
  position: relative;
}
div.event-list > div.event > div.event-info {
  position: absolute;
  top: 0;
  margin-left: 10px;
}
div.event-list > div.event {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  position: relative;
}
div.event-list div.image {
  width: 400px;
  height: 300px;
  margin: 0;
  display: inline-block;
}

div.event-list div.event div:not(.image) {
  font-family: "Crimson Text", Georgia, serif;
  color: #000;
  width: 40%;
  text-align: left;
  display: inline-block;
}
div.event-list div.event-info > div.eventTitle {
  font-family: "FucXed", sans-serif;
  font-size: 30px;
  width: 100%;
}
div.header {
  width: 140px;
  height: 50px;
  position: relative;
  margin: 30px 0 30px 0;
}
div.header > div {
  font-size: 25px;
  position: absolute;
  padding: 3px;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #21a73d;
  font-family: "FucXed";
}
div.header > div.top {
  clip-path: polygon(0 0, 100% 0, 100% 34%, 0% 80%);
}
div.header > div.top > span {
  align-self: flex-start;
  top: 0;
}
div.header > div.bottom {
  margin-top: 10%;
  left: 11%;
  justify-content: right;
  clip-path: polygon(0 50%, 100% 5%, 100% 80%, 0% 80%);
}
div.header > div.bottom > span {
  align-self: flex-end;
}
