html {
  height: 100%;
  box-sizing: border-box;
  font-size: 18px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  outline: 0;
}
*:focus {
  outline: none;
}

@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(../fonts/wlp2gwHKFkZgtmSR3NB0oRJfbwhT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'), url(../fonts/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'FucXed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/fucxedcaps-v2-webfont.woff2) format('woff2');
}


body {
  background: #e6e6e6;
  line-height: 1.4;
  font-family: "Crimson Text", Georgia, serif;
  padding: 0;
  margin: 0;
  line-height: 1.4;
  scroll-behavior: smooth;
  word-break: break-word;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "FucXed", sans-serif;
  margin: 0;
}
h1 {
  font-size: 45px;
  text-align: center;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 25px;
}
p {
  margin: 0 0 20px 0;
}
a {
  color: #000;
  text-decoration: none;
  background-color: transparent;
}

main {
  margin: 75px 0 40px 0;
}
main h1, main h2, main h3, main h4, main h5, main h6 {
  line-height: 1;
  margin-bottom: 1em;
}
main p a, main li a {
  text-decoration: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(33, 167, 61, 1);
  box-shadow: inset 0 -2px 0 rgba(33, 167, 61, 1);
  -webkit-box-shadow: inset 0 -2px 0 rgba(33, 167, 61, 1);
  transition: 250ms ease;
}
main p a:hover, main li a:hover {
  border-bottom: 2px solid rgba(33, 167, 61, 0.5);
  box-shadow: inset 0 -50px 0 rgba(33, 167, 61, 0.5);
  -webkit-box-shadow: inset 0 -22px 0 rgba(33, 167, 61, 0.5);
}

main .hero {
  height: 33.3vh;
  background-color: #000;
  background-position: center;
  background-size: cover;
  position: relative;
}
main .hero-large {
  height: 50vh;
}
main article .content {
  max-width: 800px;
  padding: 60px 0 40px 0;
  margin: 0 auto;
}
@media only screen and (max-width: 880px) {
  main article .content {
    width: 100%;
    padding: 60px 10px 40px 10px;
  }
}

.btn {
  -webkit-appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: normal;
  position: relative;
  text-decoration: none;
  border: none;
  text-align: center;
  font-weight: normal;
  font-family: "FucXed",sans-serif;
  font-size: 1.5625rem;
  padding: .75rem .8125rem .5rem;
  text-transform: uppercase;
}
.btn--primary-dark {
  background-color: black;
  color: white;
}
.tags {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 1.25em;
  flex-wrap: wrap;
}
.tags--post-tease, .tags--post-event {
  margin-top: 1.25em;
}
.tags a, .tags span {
  font-size: 1rem;
  padding: .4375rem .5em .1875em;
  line-height: 1.2;
  font-weight: bold;
  text-decoration: none;
  background: black;
  color: white;
  text-transform: capitalize;
  margin: 0 .3125rem .3125rem 0;
  display: block;
}

.hero {
  background-image: url('../images/hero_bike_swarm.jpg');
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-top: 75px;
}
.events-filters {
  text-align: right;
  padding: 0 40px;
  background: #fff;
  margin-bottom: 40px;
}
.events-filters ul {
  display: inline-block;
  padding: 0 0 0 10px;
}
.events-filters li {
  display: inline-block;
  margin-left: 10px;
}
.events-filters .selected {
  font-weight: bold;
  cursor: default;
}
.events-filters li a {
  text-decoration: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(33, 167, 61, 1);
  box-shadow: inset 0 -2px 0 rgba(33, 167, 61, 1);
  -webkit-box-shadow: inset 0 -2px 0 rgba(33, 167, 61, 1);
  transition: 250ms ease;
}
.events-filters li a:hover {
  border-bottom: 2px solid rgba(33, 167, 61, 0.5);
  box-shadow: inset 0 -50px 0 rgba(33, 167, 61, 0.5);
  -webkit-box-shadow: inset 0 -22px 0 rgba(33, 167, 61, 0.5);
}
.events-widget {
  text-align: center;
  padding: 0 40px;
}
.events-widget .events-widget__title {
  margin-bottom: 2.5rem;
}
.item-list {
  margin: -.625em -.625em -.625em -.625em;
  display: flex;
  flex-wrap: wrap;
}
.events-list ul {
  padding: 0;
  list-style: none;
}
.events-list li > article {
  height: 100%;
}
.item-list > * {
  width: 100%;
  max-width: 31.25em;
  margin-left: auto;
  margin-right: auto;
  padding: .625em;
}
@media only screen and (min-width: 43.75em) {
  .item-list--three > * {
    width: 50%;
    margin-left: initial;
    margin-right: initial;
    max-width: none;
  }
}
@media only screen and (min-width: 68.75em) {
  .item-list--three > * {
    width: 33.33333%;
  }
}
.tease-event {
  text-align: left;
  background: #F1F1F1;
  width: 100%;
  text-align: left;
  display: flex;
}
.tease-event h2 {
  font-size: 1.5625em;
  margin-bottom: .2em;
  line-height: 1.2;
}
.tease-event a {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.tease-event a:hover, .tease-event a:focus, article.promote a:hover .tease-event__body {
  background: black;
  color: #ddd;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.tease-event__img {
  height: 15em;
  overflow: hidden;
  background-size: cover;
  background-color: #21a73d;
  background-position: center;
}
.is-multi-day .tease-event__date-small {
  display: flex;
  flex-wrap: wrap;
}
.tease-event__date-small {
  background: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: .5em .9375em;
  font-family: "FucXed",sans-serif;
  line-height: 1.1;
}
.tease-event__date-small .day {
  font-size: 32px;
  display: block;
}
.tease-event__date-small .month {
  font-size: 21px;
  display: block;
}
.tease-event__date-small .divider {
  margin: 0 0.5em;
  align-self: center;
}

.tease-event__date-long > * {
  margin: 0 1em 0.5em 0;
}
.tease-event__date-long {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}
.tease-event__date-long .divider {
  display: flex;
  align-items: center;
}

.tease-event__location {
  font-size: 18px;
  line-height: 1.2;
}
.tease-event__body {
  padding: 1.25em;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
}
.tease-event__btn {
  text-align: center;
  margin-top: .625em;
}
.tease-event__btn span {
  font-size: 1.25rem;
  padding: .8125rem 1.875rem .6875rem;
}
.tease-event a:hover .btn, .tease-event a:hover .tags span, .tease-event a:focus .btn, .tease-event a:focus .tags span {
  color: black;
  background: white;
}
article.promote .tease-event__body {
  background: #21a73d;
  color: #fff;
}
.event-image-location {
  display: none;
}

.cms-toolbar-expanded header .page-header__wrap {
  margin-top: 46px;
}
header .page-header__wrap {
  position: fixed;
  z-index: 50;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: #21a73d;
  padding: 0 20px;
  display: flex;
}
header .logo {
  text-decoration: none;
  box-sizing: content-box;
  padding: 10px 0 5px;
  display: inline-block;
  width: 350px;
}
header .logo img {
  height: 55px;
}
header .page-header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
header .location {
  font-family: "FucXed", sans-serif;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 15px;
  font-size: 34px;
}
header a {
  color: #000;
  text-decoration: none;
}
header ul.nav-main {
  font-family: "FucXed", sans-serif;
  padding: 0;
  text-align: right;
  margin: 0;
}
header ul.nav-main li {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 0.5em;
}
header ul.nav-main li a {
  border-bottom: 0 solid #000;
  transition: all 200ms;
}
header ul.nav-main li a:hover {
  border-bottom: 3px solid #000;
}
header .social-nav {
  margin: 0 0 0 1em;
}
header .donate {
  margin: 10px 0 10px 1em;
}

footer {
  background: #000;
  color: #ddd;
  padding: 10px;
}
footer .page-footer__column {
  flex: 1 1 300px;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
footer .social-nav {
  justify-content: center;
}

.social-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.social-nav li {
  margin-left: 5px;
}
.social-nav a {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 37px;
  height: 37px;
}
.social-nav .facebook {
  background-image: url("../images/icons/facebook.svg");
}
.social-nav .twitter {
  background-image: url("../images/icons/twitter.svg");
}
.social-nav .insta {
  background-image: url("../images/icons/instagram.svg");
}
.social-nav .yt {
  background-image: url("../images/icons/youtube.svg");
}
.social-nav--light .facebook {
  background-image: url("../images/icons/facebook-inverted.svg");
}
.social-nav--light .twitter {
  background-image: url("../images/icons/twitter-inverted.svg");
}
.social-nav--light .insta {
  background-image: url("../images/icons/instagram-inverted.svg");
}
.social-nav--light .yt {
  background-image: url("../images/icons/youtube-inverted.svg");
}

.event-detail-image {
  width: 400px;
  float: right;
  margin: 0 0 40px 40px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.notice {
  padding: 20px;
  font-size: 1.2em;
  text-align: center;
}

.gallery-thumbnails {
  background: #000;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 5px 0
}
.gallery-thumbnails .thumbnail {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  display: inline-table;
  margin: 0 5px 10px;
}

#hamburger {
  display: none;
}
.burger {
  padding: 0;
  border: none;
  line-height: 0;
  background-color: black;
  height: 2.71875em;
  width: 2.71875em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-mobile__close {
  position: absolute;
  right: 1.25em;
  top: 1.125em;
  padding: 0;
  border: none;
  line-height: 0;
  background-color: black;
  height: 2.71875em;
  width: 2.71875em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page-mask {
  background: rgba(0,0,0,0.5);
  width: 100vw;
  width: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  display: none;
}
.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1001;
  height: 100%;
  width: 88%;
  background-color: #21a73d;
  padding: 5.6875em 1.25em 0 1.5625em;
  transform: translateX(104%);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.6));
  filter: drop-shadow(0px 0px 2px rgba(0,0,0,0.6));
  overflow: scroll;
}
.nav-mobile nav {
  margin-bottom: 3.75em;
}
.nav-mobile nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-mobile nav a {
  color: #000;
  text-decoration: none;
  display: block;
  border-top: 1px solid #1D1D1B;
  font-family: "FucXed",sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: .14286em 1.14286em 0 0;
}
.nav-mobile .social-nav li {
  margin: 0 5px 0 0;
}
.has-open-mobile-nav .page-mask {
  display: block;
}
.has-open-mobile-nav .nav-mobile {
  transition: transform 0.6s, background-color 0.4s;
  transform: translateX(0);
}
.social-nav--mobile {
  margin-bottom: 1.25em;
}
.social-nav--mobile a {
  width: 2.8125em;
  height: 2.8125em;
}
.nav-mobile .donate {
  margin-bottom: 1.25em;
  display: block;
}
.nav-mobile .donate input {
  width: 100%;
}

.mailinglist-form {
  background: #21a73d;
  margin: 40px 0;
  padding: 15px;
}
.mailinglist-form h2, .mailinglist-form p {
  text-align: center;
  margin: 8px 0 12px;
}
.mailinglist-form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mailinglist-form input {
  min-width: 100px;
  flex-grow: 1;
  margin: 5px;
  padding: 3px 6px;
  font-size: 16px;
  font-family: "Crimson Text", Georgia, serif;
  border: 0;
}
.mailinglist-form input[type="submit"] {
  background: #000;
  color: #fff;
  border: 0;
  font-family: "FucXed", sans-serif;
  cursor: pointer;
  font-size: 24px;
  padding: 6px 6px 3px;
}
.mailinglist-form-bottom {
  margin-bottom: 0;
}
.mailinglist-inner {
  max-width: 800px;
  margin: 0 auto;
}

.calendar div.month
{
	margin-bottom: 10px;
}
.calendar div.month > h2
{
	border-bottom: #000 1px solid;
}
.calendar div.month > div.daysOfWeek
{
	width: 100%;
}
.calendar div.month > div.daysOfWeek > div
{
	float: left;
	font-family: "FucXed", sans-serif;
	text-align: center;
	width: 13.5%;
}

.calendar div.day, .calendar div.spacer
{
	background-color: #F1F1F1;
	color: #000;
	display: inline-block;
	height: 120px;
	padding: 3px;
	position: relative;
  width: 13%;
  overflow: hidden;
}
.calendar div.spacer{
  background:none;
}
.calendar div.day.promoted
{
	background-color: #B3DBBB;
}
.calendar div.day.past
{
	background-color: #ff9999;
}
.calendar div.day > h3.number
{
	bottom: 5px;
	color: #21a73d;
	font-size: 45px;
	margin-bottom: 0;
	opacity: 30%;
	position: absolute;
	right: 5px;
}
.calendar div.day > div.events
{
	float: left;
	position: relative;
	width: 100%;
}
.calendar div.day > div.events > a > div.event
{
	color: #000;
	font-family: "FucXed", sans-serif;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar div.day > div.events > a:first-child:nth-last-child(1) > div{
  -webkit-line-clamp: 4;
}

.calendar div.day > div.events > a
{
  max-width: 100%;
  display: inline-block;
}
.calendar div.day > div.events > a:not(:last-child)
{
	border-bottom: 1px solid black;
	padding-bottom: 2px;
}
.calendar div.day > div.events > a:not(:first-child)
{
	padding-top: 2px;
}
.calendar .dayName{
  font-family: "FucXed", sans-serif;
  display: none;
}
div.humans {
  margin: 0 auto;
  padding-top: 30px;
  width: 50%;
}
div.human {
  width: 33%;
  height: auto;
  display: inline-block;
  position: relative;
}

div.human img {
  width: 100%;
  height: auto;
}
div.human a {
  font-family: "FucXed", sans-serif;
  font-size: 30px;
  color: black;
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
  left: 0;
  top: 0;
}
div.human:hover img {
  background-color: #000;
  opacity: 0.5;
}
div.human:hover a {
  visibility: visible;
}

div.humandetail {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}
div.humandetail .info {
  width: 100%;
  font-family: "FucXed", sans-serif;
  font-size: 30px;
}
div.humandetail .content {
  width: 100%;
  position: relative;
  margin-top: 10px;
  height: 100%;
}
div.humandetail .info .group {
  color: #21a73d;
  font-size: 20px;
  border-bottom: 1px #000 solid;
}
div.humandetail .images {
  position: relative;
  float: left;
  width: 50%;
  height: auto;
}
div.humandetail .text {
  font-family: "Crimson Text", sans-serif;
  font-size: 20px;
  position: relative;
  float: left;
  width: 49%;
  padding: 10px;
  text-align: center;
}
div.humandetail img {
  width: 50%;
  float: left;
}
div.humandetail img.landscape {
  width: 100%;
  display: inline-block;
}
@media screen and (max-width: 1450px) {
  div.humandetail {
  div.humandetail,
  div.humans {
    margin-top: 130px;
    width: 75%;
  }
  div.human {
    width: 49%;
  }
}
@media screen and (max-width: 960px) {
  .events-widget {
    padding: 0 20px;
  }
  header .page-header__content {
    padding: 20px 0;
    align-items: start;
  }
  .page-header .social-nav {
    display: none;
  }
  header .page-header__wrap {
    padding: 0 10px;
  }
  header .donate {
    margin: 0 0 0 1em;
  }
  .mailinglist-form input {
    width: 100%;
  }
  div.humandetail {
    margin-top: 150px;
    width: 95%;
  }
  div.humans {
    margin-top: 150px;
  }
}

@media screen and (max-width: 720px) {
  .calendar div.day {
    width: 100%;
    margin-bottom: 5px;
  }
  .calendar div.month > div.daysOfWeek {
    display: none;
  }
  .calendar .dayName {
    display: inline-block;
  }
  .calendar .events a {
    width: 75%;
  }
  .calendar div.spacer,
  .calendar div.past {
    display: none;
  }
  div.humandetail .images {
    width: 100%;
  }
  div.humandetail .text {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  header .location {
    margin-left: 5px;
  }
  header .page-header__wrap {
    padding: 0 20px;
  }
  .nav-main {
    display: none;
  }
  .donate--head {
    display: none;
  }
  #hamburger {
    display: block;
  }
  div.humandetail {
    margin-top: 130px;
  }
  div.humans {
    margin-top: 100px;
    width: 100%;
  }
  div.human {
    width: 100%;
  }
}
